@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  --colPink: #E6007E;
  --colBlue: #5BC5F2;
  --colNavy: #2C275B;
}

html,
body {
  font-family: 'Outfit',-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: black;
  color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#gameCanvas {
  /* width: 850px; */
  margin: 0 80px;
}

.progressButton {
  position: fixed;
  z-index: 7;
  bottom: 25px;
  left: 25px;
  opacity: 0.025;
  /* left: 50%;
  transform: translateX(-50%); */
}

input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.highScore {
    color: var(--colBlue);
    font-size: 2.5rem;
}

.yourScore {
    color: var(--colPink);
    font-size: 2.5rem;
}

table, th, td {
    font-size: 2rem;
    border: 1px solid black;
}

table {
    /* max-height: 80vh;
    overflow-y: auto; */
}

tbody {
    display: block;
    max-height: 80vh;
    overflow-y: auto;
}

th {
    padding: 20px;
    font-weight: 400;
}