.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* font-size: 2rem; */
}

.bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    z-index: 1;
}

.bgIcons {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    z-index: 2;
}

.container main {
    position: relative;
    z-index: 3;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container main * {
    margin-bottom: 5px;
}

.container main h2 {
    font-weight: 600;
    max-width: 51%;
    line-height: 1em;
    margin-bottom: 10px;
}

.scoreContainer {
    border: solid var(--colBlue) 4px;
    border-radius: 20px;
    background-color: rgb(163, 146, 190);
    padding: 5px 40px;
    margin-bottom: 20px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.scoreContainer h2 {
    max-width: 100% !important;
}

.conditions {
    /* max-width: 30%; */
    max-width: min(750px, 60%);
    transform: translateY(20px);
    display: flex;
    align-items: center;
}

.conditions p {
    font-size: 0.75rem !important;
}

.downArrow {
    margin-top: 10px;
    margin-bottom: 0 !important;
    /* margin-bottom: 20px !important; */
}

.container main p {
    font-size: 0.5rem;
    margin-right: 20px;
}

.conditions img {
    max-width: 60px;
}

.gameForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container main input {
    /* width: 750px; */
    width: 500px;
    height: 50px;
    border: none;
    outline: none;
    /* display: flex;
  justify-content: center;
  align-items: center; */
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: var(--colNavy);
}

/* .checkboxRow {
  display: flex; 
  align-items: center;
}

.checkboxRow label {
    margin-right: 20px;
} */

.checkboxes {
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.checkboxColumn {
    /* max-width: 200px; */
    display: flex;
    /* align-items: center; */
    margin-right: 20px;
}

.checkboxColumn:last-of-type {
    margin-right: 0;
}

.checkbox {
    -webkit-appearance: none;
    width: 30px !important;
    height: 40px !important;
    background: white;
    /* border-radius:5px; */
    border: 2px solid #555;
}

.checkbox:checked {
    background: var(--colBlue);
}

.checkboxColumn label {
    font-weight: 200;
    text-align: left;
    margin-left: 10px;
    font-size: 0.75rem;
    max-width: 200px;
}

.checkboxRow label,
.checkboxRow input {
    margin-bottom: 0;
}

.container main input:focus {
    border: var(--colPink);
}

.inputs input {
    width: 40px !important;
    /* height: 100px; */
    margin-right: 20px;
    text-transform: uppercase;
}

.inputs input:first-of-type {
    color: var(--colPink);
}

.inputs input:nth-of-type(2) {
    color: var(--colNavy);
}

.inputs input:last-of-type {
    color: var(--colBlue);
}

.submit {
    background-color: var(--colBlue);
    color: white !important;
    width: 325px !important;
    font-size: 1.5rem !important;
    font-weight: 400 !important;
    height: 40px !important;
}

.over {
    /* width: 90%; */
    width: 70%;
    margin-bottom: 20px !important;
}

.marginBelow {
    margin-bottom: 20px !important;
}
